.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    margin:  5px;
    box-sizing: border-box;
}

@media (max-width : 650px){
    .circle{
        width: 30px;
        height: 30px;
        margin: 1px;
    }
}

@media(max-width : 350px){
    .circle{
        width: 25px;
        height: 25px;
    }
}