.main_game{
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 50px;
    align-items: flex-start;
    justify-content: center;
}

@media(max-width : 650px){
.main_game{
    width: 85%;
    margin: 0 auto;
    grid-gap: 30px;
} 
}