.blockGame{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-evenly;
}

.blockGameColor{
    display: flex;
}

.check-block{
    width: 20px;
    height: 20px;
    padding: 15px;
}

.check-mark{
    font-size: 25px;
    color: green;
    cursor: pointer;
}

@media(max-width : 650px){
    .blockGame{
        padding: 7px 1px;
    }
}

@media(max-width : 300px){
    .check-mark{
        font-size: 15px;
    }

    .check-block{
        width: fit-content;
    }
}